@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: local("Muller"),
  url(/fonts/MullerRegular.woff2) format(woff2),
  url(/fonts/MullerRegular.woff) format(woff);
}

@font-face {
  font-family: "Muller";
  font-style:normal;
  font-weight: 500;
  src: local("Muller"),
  url(/fonts/MullerMedium.woff2) format(woff2),
  url(/fonts/MullerMedium.woff) format(woff);
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  src: local("Muller"),
  url(/fonts/MullerLight.woff2) format(woff2),
  url(/fonts/MullerLight.woff) format(woff);
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  src: local("Muller"),
  url(/fonts/MullerBold.woff2) format(woff2),
  url(/fonts/MullerBold.woff) format(woff);
}

:root {
  --link-color: #CC9933;
}

* {
  box-sizing: border-box;
}

/* *:focus {
  outline: 1px solid var(--link-color);
  outline-offset: 5px;
} */

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

img {
  max-width: 100%;
}

html {
  font-family: "Muller";
}

body {
  background-color: #E5E5E5;
}

section:not(:last-child) {
  margin-bottom: 70px;
}


.btn {
  display: inline-block;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 1;
  color: var(--link-color);
  background-color: transparent;
  border: 1px solid var(--link-color);
  border-radius: 10px;
  cursor: pointer;
  transition: transform, color, background-color, .3s ease;
}

.btn:hover {
  color: white;
  background-color: var(--link-color);
}

.btn:active {
  transform: translateY(3px);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}

.section-heading {
  margin: 0;
  text-indent: 40px;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  color: #333333;
}


/* header */

.header {
  /* height: 154px; */
  padding-top: 30px;
  margin-bottom: 70px;
}

.header-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logo-img {
  min-height: 54px;
  min-width: 261px;
}

.header-contacts-link {
  margin-left: 40px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #666666;
  transition: transform, color .3s ease;
}

.header-contacts-link:hover {
  color:var(--link-color);
}

.header-contacts-link:active {
  transform: translateY(3px)
}

.header-lk {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--link-color);
  transform-origin: top right;
  transition: transform .3s ease;
}

.header-lk:hover {
  transform: scale(1.15)
}

.header-lk-pic {
  display: inline-block;
  width: 21px;
  height: 16px;
  margin-right: 7px;
  background-image: url(../IMG/keyboard_tab.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.header-bottom-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70px;
  padding: 10px 45px 10px 45px;
  background-color: white;
  border-radius: 15px;
}

.nav-list {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-right: 56px;
  border-right: 1px solid #e1e1e1;
}

.nav-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.nav-link {
  display: inline-block;
  color: #666666;
  transition: transform, color .3s ease;
}

.nav-link:hover {
  color:var(--link-color);
}

.nav-link:active {
  transform: translateY(3px)
}

.btn-tour {
  margin-right: 40px
}

.btn-call {
  margin-left: auto
}

.header-btns {
  margin-left: auto;
}

/* special-offer */

.special-offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-heading-special {
  margin-bottom: 20px;
}

.special-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  margin-right: 23px;
}

.special-right {
  flex: 1 1 50%;
}

.special-item {
  position: relative;
  width: auto;
  height: auto;
  padding: 40px 234px 40px 40px;
  border-radius: 15px;
}

.special-item1 {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(../IMG/Maldiv.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.special-item2 {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(../IMG/Krit.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.special-item3 {
  background-image: url(../IMG/lux.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.special-right {
  padding-top: 211px;
}

.special-item:nth-child(1) {
  margin-bottom: 23px;
}

.special-item-heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #FFFFFF;
}

.special-item-heading-right {
  margin: 0;
  margin-bottom: 15px;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #FFFFFF;
}

.special-item-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.special-item-price-right {
  margin: 0 0 47px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

.special-item-more {
  display: inline-block;
  transition: margin-right .3s ease;
}

.special-item-more-arrow {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url(../IMG/arrow.svg);
  border-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateY(3.7px);
}

.special-item-more-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #FFCC66;
  transition: margin-right, color, .3s ease;
}

.special-item-more-text::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.special-item-more:focus {
  outline: none;
}

.special-item-more:focus::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  outline: 1px solid var(--link-color);
  outline-offset: 5px;
}



.special-item-more-text:hover {
  margin-right: 11px;
}

.special-item-more-text:active {
  margin-right: 0;
  --link-color: white;
  color: var(--link-color);
  transition: margin-right, color, .1s ease;
}




/* about */

.section-heading-about {
  margin-bottom: 11px;
}

.about-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 282px;
  font-size: 16px;
  line-height: 200%;
  font-weight: 400;
}

/* services */

.section-heading-services {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-flow: row wrap;
  /* gap: 23px 23px; */
}

.services-item {
  position: relative;
  flex: 1 1 40%;
  background-color: white;
  background-size: contain;
  border-radius: 15px;
}

.services-item:nth-child(odd) {
  margin-right: 23px;
}

.services-item:not(:nth-child(-n+2)) {
  margin-top: 23px;
}

.service-item-img {
  display: inline-block;
  width: 572px;
  height: 165px;
}

.service-item-img1 {
  background: url(../IMG/living.png) no-repeat;
}

.service-item-img2 {
  background: url(../IMG/rent.png) no-repeat;
}

.service-item-img3 {
  background: url(../IMG/pool.png) no-repeat;
}

.service-item-img4 {
  background: url(../IMG/cars.png) no-repeat;
}

.service-item-link {
  display: inline-block;
  padding-top: 26px;
  padding-left: 45px;
}


.service-item-link-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  transform: translateY(3.7px);
  transition: color .3s ease;
}

.service-item-link-name {
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
  color: var(--link-color);
  transition: margin-right, color, .3s ease;
}

.service-item-link-name:hover {
  margin-right: 11px;
  --link-color: #E9C479;
  color: var(--link-color);
}

.service-item-link-name:focus {
  --link-color: #CC9933;
  color: var(--link-color);
}

.service-item-link-name:active {
  margin-right: 0;
  --link-color: #A47312;
  color: var(--link-color);
  transition: margin-right, color, .05s ease;
}

.service-item-link:focus {
  outline: none;
}

.service-item-link:focus::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  outline: 1px solid var(--link-color);
  outline-offset: 5px;
}

.service-item-link-name::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


.service-item-link-icon path {
  transition: stroke .3s ease;
}

.service-item-link:hover .service-item-link-icon path {
  --link-color:#E9C479;
  stroke: var(--link-color);
}

.service-item-text {
  margin: 0 0 50px 0;
  padding-left: 45px;
  padding-right: 126px;
  font-size: 16px;
  line-height: 200%;
  font-weight: 400;
  color: #000000;
}


/* benefits */

.section-benefits-heading {
  margin-bottom: 30px;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 23px 23px; */
}

.benefits-item {
  flex: 0 0 22%;
  padding: 40px 42px 41px 45px;
  background-color: white;
  border-radius: 15px;
}

.benefits-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.benefits-item:not(:nth-child(-n+4)) {
  margin-top: 23px;
}

.benefits-item-img {
  margin-bottom: 10px;
}

.benefits-item-text {
  margin: 0;
  width: 188px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

/* accomodation */

.section-accomodation-heading {
  margin-bottom: 30px;
}

.accomodation-list {
  display: flex;
  flex-flow: row wrap;
  gap: 23px 23px;
}

.accomodation-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 32%;
  max-width: 374px;
  padding: 253px 46px 41px 45px;
  border-radius: 15px;
  /* background-size: contain; */
  transition: transform .3s ease;
}

.accomodation-item:hover {
  transform: scale(1.025);
}

.accomodation-item-img1 {
  background: url(../IMG/lagoon_espanola.png) no-repeat, white
}

.accomodation-item-img2 {
  background: url(../IMG/lagoona_sontipica.png) no-repeat, white
}

.accomodation-item-img3 {
  background: url(../IMG/lagoonadelaguerra.png) no-repeat, white
}

.accomodation-item-img4 {
  background: url(../IMG/lagoonamentirapiadosa.png) no-repeat, white
}

.accomodation-item-img5 {
  background: url(../IMG/lagoonaempujarlacreatividad.png) no-repeat, white
}

.accomodation-item-img6 {
  background: url(../IMG/lagoonaelretorno.png) no-repeat, white
}

.accomodation-item-img7 {
  background: url(../IMG/lagoonamentirapiadosa2.png) no-repeat, white
}

.accomodation-item-img8 {
  background: url(../IMG/lagoonasuertesiguiosiempre.png) no-repeat, white
}

.accomodation-item-img9 {
  position: relative;
  padding: 0;
  background: url(../IMG/lagoonamore.png) no-repeat, white;
}

.accomodation-item-info {
  /* margin-bottom: auto */
}

.accomodation-item-price {
  display: flex;
  margin: 0;
}

.accomodation-item-price-text {
  max-width: 180px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}

.accomodation-price-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.accomodation-item-price-strong {
  /* display: inline-block; */
  word-break: break-all;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.accomodation-item-rate {
  display: inline-block;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-bottom: 16px;
}

.accomodation-rate-star {
  display: inline-block;
  width: 14px;
  height: 13.41px;
  background: url(../IMG/star-color.png) no-repeat;
}

.accomodation-rate-nostar {
  display: inline-block;
  width: 14px;
  height: 13.41px;
  background: url(../IMG/star-grey.png) no-repeat;
}

.accomodation-item-name {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}

.accomodation-item-place {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
}

.accomodation-item-appartments-link {
  flex-grow: 0
}


.accomodation-item-appartments-link:focus::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  outline: 1px solid var(--link-color);
  outline-offset: 5px     ;
}

.accomodation-item-appartments-link:focus {
  outline: none;
}

/* .accomodation-item-appartments-link::before{
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
} */

.accomodation-item-info-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
}

.accomodation-more-variants-link {
  margin-right: 9px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: white;
}

.accomodation-more-variants-link::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

}

.accomodation-more-arrow {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../IMG/arrow3.svg) no-repeat;
  background-size: contain;
}

/* form */

.booking-container {
  padding: 38px 45px 71px 40px;
  background-color: #E9E9E9;
  border-radius: 15px;
}

.section-heading-form {
  text-indent: 0;
  margin-bottom: 19px;
}

.booking-form {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  padding: 28px;
  background-color: white;
  border-radius: 10px;
}

.booking-inputs {
  display: flex;
}

input {
  background-color: transparent;
  border: none;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1
}

input#nights,
input#tourists,
input#date {
  width: 121px;
  border-bottom: 1px solid #CCCCCC;
}

.label-booking-form {
  display: block;
  margin-bottom: 15px;
  flex: 1 1 20%;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #000000;
}

.input-booking-form {
  display: inline-block;
  margin-left: 0;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #E1E1E1;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}

.country-booking-select,
.city-booking-select {
  border: none;
}

.input-booking-form-city {
  padding-left: 0;
}

.input-booking-form-tourist {
  padding-right: 30px;
}

.btn-form {
  margin-left: auto;
  padding: 13px 30px 13px 30px;
}

.country-booking-select,
.city-booking-select {
  min-width: 169px;
}


/* contacts */

.contacts {
  margin-bottom: 19px;
}

.section-heading-contacts {
  margin-bottom: 26px;
}

.contacts-content {
  display: flex;
  flex-direction: row;
  padding: 44px 44px 46px 46px;
  background-color: white;
  border-radius: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.contacts-info-list {
  margin-right: 50px;
  margin-bottom: auto;
}

.contacts-info-item {
  display: flex;
  flex: row;
  justify-content: space-between;
}

.contacts-info-item {
  padding-bottom: 23px;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-info-item:not(:nth-child(1)) {
  padding-top: 23px;
}

.contacts-info-item-head {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.contacts-info-item-text {
  display: flex;
  flex-direction: column;
  width: 61%;
}

.contacts-info-item-adress-text {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;;
  font-weight: 400;
}

.contacts-info-item-link-tel,
.contacts-info-item-link-email {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--link-color);
  transform-origin: center left;
  transition: transform .3s ease;
}

.contacts-info-item-link-tel:hover,
.contacts-info-item-link-email:hover {
  transform: translateX(2px)
}

.contacts-info-item-email-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.contacts-info-item-timetable {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.contacts-info-item-btn {
  padding: 27px 29px 27px 29px;
}

/* footer */

.footer-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding: 44px 51px 46px 52px;
  background: url(../IMG/footer-logo.svg) no-repeat, #333333;
  background-size: 254.75px 254.77px;
  background-position: bottom -14px left 738px;
  border-radius: 15px;
}

.license {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.9%;
  margin-right: 102px;
}

.copyright,
.oferta {
  font-size: 16px;
  line-height: 190%;
  font-weight: 400;
  color: #FFFFFF;
}

.copyright {
  margin-bottom: 3em;
}

.oferta {
  margin-bottom: 49px;
}

.terms-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--link-color);
  transition: transform .3s ease;
}

.footer-address {
  margin-bottom: 14px;
   font-size: 16px;
   line-height: 16px;
   font-weight: 400;
   font-style: normal;
   color: white;
}

.footer-phone {
  margin-bottom: 2em;
}

.footer-link-phone {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--link-color);
  transition: transform .3s ease;
}

.footer-link-phone:hover,
.terms-link:hover {
  transform:translateX(2px)
}

.contacts-info-item-link-email {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.footer-social-list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer-social-link {
  display: inline-block;
  margin-bottom: 14.6px;

}

.footer-social-icon {
  display: inline-block;
  margin-bottom: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  transition: transform .3s ease;
}

.footer-social-icon:hover {
  transform: scale(1.25);
}

.footer-social-icon-tripadviser {
  background-image: url(../IMG/tripadviser.svg);
  background-repeat: no-repeat;
}

.footer-social-icon-twitter {
  background-image: url(../IMG/twitter.svg);
  background-repeat: no-repeat;
}

.footer-social-icon-fb {
  background-image: url(../IMG/facebook.svg);
  background-repeat: no-repeat;
}

.footer-social-icon-vk {
  background-image: url(../IMG/vk.svg);
  background-repeat: no-repeat;
}

.footer-social-icon-insta {
  background-image: url(../IMG/instagram.svg);
  background-repeat: no-repeat;
}




