@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: local("Muller"),
  url(/fonts/MullerRegular.woff2) format(woff2),
  url(/fonts/MullerRegular.woff) format(woff);
}

@font-face {
  font-family: "Muller";
  font-style:normal;
  font-weight: 500;
  src: local("Muller"),
  url(/fonts/MullerMedium.woff2) format(woff2),
  url(/fonts/MullerMedium.woff) format(woff);
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  src: local("Muller"),
  url(/fonts/MullerLight.woff2) format(woff2),
  url(/fonts/MullerLight.woff) format(woff);
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  src: local("Muller"),
  url(/fonts/MullerBold.woff2) format(woff2),
  url(/fonts/MullerBold.woff) format(woff);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

img {
  max-width: 100%;
}

html {
  font-family: "Muller";
}

body {
  background-color: #E5E5E5;
}

section {
  margin-bottom: 70px;
}


.btn {
  display: inline-block;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 1;
  color: #CC9933;
  background-color: transparent;
  border: 1px solid #CC9933;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}

.section-heading {
  margin: 0;
  text-indent: 40px;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  color: #333333;
}


/* header */

.header {
  /* height: 154px; */
  padding-top: 30px;
  margin-bottom: 70px;
}

.header-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logo-img {
  min-height: 54px;
  min-width: 261px;
}

.header-contacts-link {
  margin-left: 40px;
  color: #666666;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

.header-lk {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  margin-left: auto;
  color: #CC9933;
}

.header-lk-pic {
  display: inline-block;
  margin-right: 7px;
  width: 21px;
  height: 16px;
  background-image: url(/IMG/keyboard_tab.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.header-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding: 10px 45px 10px 45px;
  border-radius: 15px;
  background-color: white;
  min-height: 70px ;
}

.nav-list {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-right: 56px;
  border-right: 1px solid #e1e1e1;
}

.nav-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.nav-link {
  color: #666666;
}

.btn-tour {
  margin-right: 40px
}

.btn-call {
  margin-left: auto
}

.header-btns {
  margin-left: auto;
}

/* special-offer */

.special-offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-heading-special {
  margin-bottom: 20px;
}

.special-left {
  display: flex;
  margin-right: 23px;
  flex: 1 1 50%;
  flex-direction: column;
}

.special-right {
  flex: 1 1 50%;
}

.special-item {
  width: auto;
  height: auto;
  padding: 40px 234px 40px 40px;
  border-radius: 15px;
}

.special-item1 {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(/IMG/Maldiv.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.special-item2 {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(/IMG/Krit.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.special-item3 {
  background-image: url(/IMG/lux.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.special-right {
  padding-top: 211px;
}

.special-item:nth-child(1) {
  margin-bottom: 23px;
}

.special-item-heading {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.special-item-heading-right {
  margin: 0;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}

.special-item-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.special-item-price-right {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

.special-item-more-arrow {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url(/IMG/arrow.svg);
  border-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateY(3.7px);
}
.special-item-more-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #FFCC66;
}


/* about */

.section-heading-about {
  margin-bottom: 11px;
}

.about-text {
  margin-right: 282px;
  font-size: 16px;
  line-height: 200%;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

/* services */

.section-heading-services {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-flow: row wrap;
  gap: 23px 23px;
}

.services-item {
  flex: 1 1 45%;
  border-radius: 15px;
  background-size: cotain;
}

.service-item-img1 {
  background: url(IMG/living.png) no-repeat, white;
}

.services-item-img2 {
  background: url(IMG/rent.png) no-repeat, white;
}

.services-item-img3 {
  background: url(IMG/pool.png) no-repeat, white;
}

.services-item-img4 {
  background: url(IMG/cars.png) no-repeat, white;
}

.service-item-link {
  display: inline-block;
  padding-top: 191px;
  padding-left: 45px;
}

.service-item-link-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url(/IMG/arrow2.svg);
  border-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateY(3.7px);
}

.service-item-link-name {
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
  color: #CC9933;
}

.service-item-text {
  margin: 0;
  padding-left: 45px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  margin-bottom: 50px;
}


/* benefits */

.section-benefits-heading {
  margin-bottom: 30px;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.benefits-item {
  flex: 0 0 25%;
}

/* accomodation */

.section-accomodation-heading {
  margin-bottom: 30px;
}

.accomodation-list {
  display: flex;
  flex-flow: row wrap;
}

.accomodation-item {
  flex: 0 0 30%
}
